@model SaphiraTerror.ViewModels.TipoUsuarioViewModel

@{
    ViewData["Title"] = "Nova Classificação";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="DescricaoTipoUsuario" class="form-label"></label>
        <input asp-for="DescricaoTipoUsuario" class="form-control" />
        <span asp-validation-for="DescricaoTipoUsuario" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}